# macOS specific files
.DS_store

# Output of CMAKE_EXPORT_COMPILE_COMMANDS is often symlinked into the project's root directory
/compile_commands.json

# Nested build directory
/src/build*

# Build directory
build

# clangd cache folder
.cache

# python cache folders for tests
__pycache__

# tmp folder for deps generation
tmp

# dist folder tmp contents
dist/omvll_ndk_r25c.so
dist/omvll_xcode_14.dylib
dist/Python-3.10.7
