name: 'O-MVLL NDK'
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: O-MVLL Android NDK r25c
        shell: bash
        run: |
          curl -LO https://open-obfuscator.build38.io/static/omvll-deps-ndk-r25c.tar
          mkdir -p /tmp/third-party-ndk25
          tar xvf ./omvll-deps-ndk-r25c.tar --directory=/tmp/third-party-ndk25
          curl -LO https://www.python.org/ftp/python/3.10.7/Python-3.10.7.tgz
          tar xzvf Python-3.10.7.tgz --directory=${{ github.workspace }}/dist
          docker run --rm \
            -v /tmp/third-party-ndk25:/third-party \
            -v ${{ github.workspace }}/dist/Python-3.10.7:/Python-3.10.7 \
            -v $GITHUB_WORKSPACE:/o-mvll \
            openobfuscator/omvll-ndk:latest bash /o-mvll/scripts/docker/ndk_r25_compile.sh
      - name: Generate deployment tar
        uses: a7ul/tar-action@v1.1.3
        id: compress
        with:
          command: c
          cwd: ${{ github.workspace }}/dist/
          files: |
            ./omvll_ndk_r25c.so
            ./sample-omvll-config.py
            ./Python-3.10.7
          outPath: ${{ github.workspace }}/dist/omvll_ndk_r25.tar.gz
      - name: O-MVLL Deployment
        env:
          BUILD38_S3_KEY: ${{ secrets.BUILD38_S3_KEY }}
          BUILD38_S3_SECRET: ${{ secrets.BUILD38_S3_SECRET }}
        shell: bash
        run: |
          docker run \
            -v $GITHUB_WORKSPACE:/o-mvll \
            -e GITHUB_ACTIONS="true" \
            -e GITHUB_WORKSPACE=$GITHUB_WORKSPACE \
            -e GITHUB_REF=$GITHUB_REF \
            -e GITHUB_REPOSITORY=$GITHUB_REPOSITORY \
            -e BUILD38_S3_KEY=$BUILD38_S3_KEY \
            -e BUILD38_S3_SECRET=$BUILD38_S3_SECRET \
            --rm \
            openobfuscator/deployment python3 /o-mvll/.github/scripts/s3-deploy.py
