name: 'O-MVLL Xcode'
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: O-MVLL Xcode 16.x
        shell: bash
        run: |
          curl -LO https://open-obfuscator.build38.io/static/omvll-deps-xcode-16_2.tar
          mkdir -p /tmp/third-party-xcode16
          mkdir -p $GITHUB_WORKSPACE/dist
          tar xvf ./omvll-deps-xcode-16_2.tar --directory=/tmp/third-party-xcode16
          docker run --rm \
            -v /tmp/third-party-xcode16:/third-party \
            -v $GITHUB_WORKSPACE:/o-mvll \
            openobfuscator/omvll-build:latest bash /o-mvll/scripts/docker/xcode_16_compile.sh
      - name: O-MVLL Signing
        uses: indygreg/apple-code-sign-action@v1.0
        with:
          input_path: ${{ github.workspace }}/src/build_xcode/omvll_unsigned.dylib
          output_path: ${{ github.workspace }}/src/build_xcode/omvll_xcode_16.dylib
          p12_file: ${{ github.workspace }}/scripts/certificates/SigningCertificate.p12
          p12_password: ${{ secrets.certificate_password }}
      - name: Generate distribution folder
        shell: bash
        run: |
          curl -LO https://www.python.org/ftp/python/3.10.7/Python-3.10.7.tgz
          tar xzvf Python-3.10.7.tgz --directory=${{ github.workspace }}/dist/
          cp ${{ github.workspace }}/src/build_xcode/omvll_xcode_16.dylib ${{ github.workspace }}/dist/
      - name: Generate deployment tar
        uses: a7ul/tar-action@v1.1.3
        id: compress
        with:
          command: c
          cwd: ${{ github.workspace }}/dist
          files: |
            ./omvll_xcode_16.dylib
            ./Python-3.10.7
            ./sample-omvll-config.py
          outPath: ${{ github.workspace }}/dist/omvll_xcode_16_2.tar.gz
      - name: O-MVLL Deployment
        env:
          BUILD38_S3_KEY: ${{ secrets.BUILD38_S3_KEY }}
          BUILD38_S3_SECRET: ${{ secrets.BUILD38_S3_SECRET }}
        shell: bash
        run: |
          docker run \
            -v $GITHUB_WORKSPACE:/o-mvll \
            -e GITHUB_ACTIONS="true" \
            -e GITHUB_WORKSPACE=$GITHUB_WORKSPACE \
            -e GITHUB_REF=$GITHUB_REF \
            -e GITHUB_REPOSITORY=$GITHUB_REPOSITORY \
            -e BUILD38_S3_KEY=$BUILD38_S3_KEY \
            -e BUILD38_S3_SECRET=$BUILD38_S3_SECRET \
            --rm \
            openobfuscator/deployment python3 /o-mvll/.github/scripts/s3-deploy.py
